<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Catálogo de Perifericos</title>
</head>
<body>
    <%- include('./partials/header', { mostrarNav: true, admin: false }) %>
        <h1 style="text-align: center;">Catálogo de Perifericos</h1>
        <% if(usuario){ %>
            <div class="contenedor-boton">
                <a href="/admin/crearProducto" class="btn-editar">
                    Añadir producto
                </a>
            </div>
        <% } %>
    <div class="catalogo-container">
        <% if (listaProductos && listaProductos.length > 0) { %>
            
            <% listaProductos.forEach(producto => { %>
                <div class="producto-card">
                    <img src="/img/productos/<%= producto.imagen %>" alt="Imagen de <%= producto.nombre %>">
                    <h3><%= producto.nombre %></h3>
                    <p class="precio">$ <%= producto.precio %></p>
                    <p class="descripcion"><%= producto.descripcion %></p>

                    <button type="button" class="btn-comprar" onclick="agregarAlCarrito('<%= producto.id %>', '<%= producto.nombre %>', '<%= producto.precio %>')">
                        🛒 Agregar al carrito
                    </button>
                    <% if(usuario){ %>

                        <a href="/admin/editar/<%= producto.id %>" class="btn-editar">
                            ✏️ Editar Producto
                        </a>

                        <form action="/admin/eliminar/<%= producto.id %>" method="POST">
                            <button type="submit" class="btn-eliminar"
                                onclick="return confirm('¿Seguro que querés eliminar este producto definitivamente?')">
                                🗑️ Eliminar Producto
                            </button>
                        </form>
                    <% } %>
                </div>
            <% }) %>

        <% } else { %>
            <div style="text-align: center; grid-column: 1 / -1; padding: 40px;">
                <h2>No hay perifericos disponibles en este momento.</h2>
            </div>
        <% } %>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>